@model FYP_6.Registeration

@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")
<html>
<body>

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        
    <br /><br /><br /><br /><br />
        <div class="row">
            

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body tabs">
                        <ul class="nav nav-tabs">
                            @if (TempData["S"] != null)
                            {
                                <li><a href="#tab1" data-toggle="tab">Edit Student Profile</a></li>
                                <li class="active"><a href="#tab2" data-toggle="tab">Edit Registeration</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#tab1" data-toggle="tab">Edit Student Profile</a></li>
                                <li><a href="#tab2" data-toggle="tab">Edit Registeration</a></li>
                            }

                        </ul>

                        <div class="tab-content">
                            @if (Model.Status == 1 && Model != null)
                            {
                                if (ViewBag.Message != null)
                                {
                                    <div class="tab-pane fade in active" id="tab1">
                                        <div class="panel panel-primary" style="padding-left:2px">
                                            
                                            <div class="panel-body">
                                                @if (ViewBag.Message == "Successfully Updated Record")
                                                {
                                                    <div class="alert bg-success" role="alert">
                                                        <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                                    </div>
                                                }
                                                else if (ViewBag.Message != null)
                                                {
                                                    <div class="alert bg-danger" role="alert">
                                                        <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                                                        @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                                    </div>
                                                }

                                                @using (Html.BeginForm("EditStudent", "Employees", FormMethod.Post
                                                             ,
                            new { enctype = "multipart/form-data" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)
                                                    <div style="float:right; display:inline">
                                                        @if (Model.Student_Profile.Picture != null)
                                                        {

                                                            var base64 = Convert.ToBase64String((byte[])Model.Student_Profile.Picture);
                                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                            <img src='@imgSrc' style="width:200px; height:200px; padding: 0px; display:inline;float:right;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;}" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/MyProjectImages/user icon.png" style="width:200px; height:200px; padding: 0px;float:right;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;}"/>
                                                        }

                                                    </div>
    <div style="float:right;">
        <span class="categoryDiv">
            <label for="file" style="margin:5%">Upload Image:</label>
        </span>
        <span class="categoryDiv">
            <input type="file" name="file" id="file" style="margin-top:5%" />
        </span>
    </div>
          
                                                    <label style="padding-right:140px">RollNo</label>
    <span class="categoryDiv">@Html.DisplayFor(model => model.Rollno)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:105px; display:inline">First Name:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.FirstName, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.FirstName)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:105px; display:inline">Last Name:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.LastName, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.LastName)</span>
                                                    <br />
                                                    <br />


                                                    <label style="padding-right:90px;display:inline">Date of Birth:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.Date_of_Birth, "{0:d}", new { @class = "form-control datepicker", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Date_of_Birth)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:125px; display:inline">Gender:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.Gender, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Gender)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:145px">CNIC</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.CNIC, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.CNIC)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:115px; display:inline">Address:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.Address, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Address)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:112px;">Domicile:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.Domicile, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    <span style="color:red; display:inline">@Html.ValidationMessageFor(model => model.Student_Profile.Domicile)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:95px;display:inline">Nationality:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.Nationality, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Nationality)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:10px;">Father/Guardian_Name:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.FatherName_Guardian_Name, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.FatherName_Guardian_Name)</span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:10px;display:inline">Father/GuardianPhone:</label>
                                                    @Html.TextBoxFor(model => model.Student_Profile.Father_Guardian_Contact, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Father_Guardian_Contact)</span>
                                                    <br />
                                                    <br />

                                                    <input type="submit" value="Update" class="btn btn-primary" style="margin-left:18%" />
                                                    <input type="hidden" value="@Html.DisplayFor(model=>model.Rollno)" name="roll" />
                                                    <input type="hidden" value="tab1" name="tab" />
                                                    @Html.ActionLink("Back", "StudentRecords", "Employees", new { @class = "btn btn-primary" })
                                                }
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    if (TempData["S"] != null)
                                    {
                                        <div class="tab-pane fade" id="tab1">
                                            <div class="panel panel-primary" style="padding-left:2px">
                                                
                                                <div class="panel-body">

                                                    @using (Html.BeginForm("EditStudent", "Employees", FormMethod.Post
                                                             ,
                            new { enctype = "multipart/form-data" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true)
                                                        <div style="float:right; display:inline">
                                                            @if (Model.Student_Profile.Picture != null)
                                                            {

                                                                var base64 = Convert.ToBase64String((byte[])Model.Student_Profile.Picture);
                                                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                                <img src='@imgSrc' style="width:200px; height:200px; padding: 0px; display:inline;float:right;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;}" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/MyProjectImages/user icon.png" style="width:200px; height:200px; padding: 0px;float:right;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;}" />
                                                            }

                                                        </div>
    <div style="float:right;">
        <span class="categoryDiv">
            <label for="file" style="margin:5%">Upload Image:</label>
        </span>
        <span class="categoryDiv">
            <input type="file" name="file" id="file" style="margin-top:5%" />
        </span>
    </div>
          
                                                        <label style="padding-right:140px">RollNo</label>
    <span class="categoryDiv">@Html.DisplayFor(model => model.Rollno)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:105px; display:inline">First Name:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.FirstName, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.FirstName)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:105px; display:inline">Last Name:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.LastName, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.LastName)</span>
                                                        <br />
                                                        <br />


                                                        <label style="padding-right:90px;display:inline">Date of Birth:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Date_of_Birth, "{0:d}", new { @class = "form-control datepicker", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Date_of_Birth)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:125px; display:inline">Gender:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Gender, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Gender)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:145px">CNIC</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.CNIC, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.CNIC)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:115px; display:inline">Address:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Address, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Address)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:112px;">Domicile:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Domicile, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Domicile)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:95px;display:inline">Nationality:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Nationality, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Nationality)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:10px;">Father/Guardian_Name:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.FatherName_Guardian_Name, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.FatherName_Guardian_Name)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:10px;display:inline">Father/GuardianPhone:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Father_Guardian_Contact, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Father_Guardian_Contact)</span>
                                                        <br />
                                                        <br />

                                                        <input type="submit" value="Update" class="btn btn-primary" style="margin-left:18%" />
                                                        <input type="hidden" value="@Html.DisplayFor(model=>model.Rollno)" name="roll" />
                                                        <input type="hidden" value="tab1" name="tab" />
                                                        @Html.ActionLink("Back", "StudentRecords", "Employees", new { @class = "btn btn-primary" })
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tab-pane fade in active" id="tab1">
                                            <div class="panel panel-primary" style="padding-left:2px">
                                                
                                                <div class="panel-body">

                                                    @using (Html.BeginForm("EditStudent", "Employees", FormMethod.Post
                                                             ,
                            new { enctype = "multipart/form-data" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true)
                                                        <div style="float:right; display:inline">
                                                            @if (Model.Student_Profile.Picture != null)
                                                            {

                                                                var base64 = Convert.ToBase64String((byte[])Model.Student_Profile.Picture);
                                                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                                <img src='@imgSrc' style="width:200px; height:200px; padding: 0px; display:inline;float:right;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;}" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/MyProjectImages/user icon.png" style="width:200px; height:200px; padding: 0px;float:right;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;}" />
                                                            }

                                                        </div>
    <div style="float:right;">
        <span class="categoryDiv">
            <label for="file" style="margin:5%">Upload Image:</label>
        </span>
        <span class="categoryDiv">
            <input type="file" name="file" id="file" style="margin-top:5%" />
        </span>
    </div>
          
                                                        <label style="padding-right:140px">RollNo</label>
    <span class="categoryDiv">@Html.DisplayFor(model => model.Rollno)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:105px; display:inline">First Name:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.FirstName, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.FirstName)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:105px; display:inline">Last Name:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.LastName, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.LastName)</span>
                                                        <br />
                                                        <br />


                                                        <label style="padding-right:90px;display:inline">Date of Birth:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Date_of_Birth, "{0:d}", new { @class = "form-control datepicker", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Date_of_Birth)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:125px; display:inline">Gender:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Gender, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Gender)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:145px">CNIC</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.CNIC, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.CNIC)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:115px; display:inline">Address:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Address, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Address)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:112px;">Domicile:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Domicile, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Domicile)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:95px;display:inline">Nationality:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Nationality, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Nationality)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:10px;">Father/Guardian_Name:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.FatherName_Guardian_Name, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.FatherName_Guardian_Name)</span>
                                                        <br />
                                                        <br />
                                                        <label style="padding-right:10px;display:inline">Father/GuardianPhone:</label>
                                                        @Html.TextBoxFor(model => model.Student_Profile.Father_Guardian_Contact, new { @class = "form-control", @style = "width:200px; display:inline" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Student_Profile.Father_Guardian_Contact)</span>
                                                        <br />
                                                        <br />

                                                        <input type="submit" value="Update" class="btn btn-primary" style="margin-left:18%" />
                                                        <input type="hidden" value="@Html.DisplayFor(model=>model.Rollno)" name="roll" />
                                                        <input type="hidden" value="tab1" name="tab" />
                                                        @Html.ActionLink("Back", "StudentRecords", "Employees", new { @class = "btn btn-primary" })
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                if (TempData["S"] != null)
                                {
                                    <div class="tab-pane fade in active" id="tab2">
                                        <div class="panel panel-primary" style="padding-left:2px">
                                            
                                            <div class="panel-body">
                                                @if (TempData["S"] == "OK")
                                                {
                                                    <div class="alert bg-success" role="alert">
                                                        <svg class="glyph stroked checkmark">
                                                            <use xlink:href="#stroked-checkmark"></use>
                                                        </svg> @ViewBag.Message2<a href="#" class="pull-right">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </a>
                                                    </div>
                                                }
                                                else if (TempData["S"] == "OKPass")
                                                {
                                                    <div class="alert bg-success" role="alert">
                                                        <svg class="glyph stroked checkmark">
                                                            <use xlink:href="#stroked-checkmark"></use>
                                                        </svg> @ViewBag.Message2<a href="#" class="pull-right">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="alert bg-danger" role="alert">
                                                        <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                                                        @ViewBag.Message2<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                                    </div>
                                                }
                                                @using (Html.BeginForm("EditStudent", "Employees", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)

                                                    <label style="padding-right:130px">RollNo</label>
    <span class="categoryDiv">@Html.DisplayFor(model => model.Rollno, new { @class = "form-control", @style = "width:200px; display:inline" })</span>
                                                    <br />
                                                    <br />

                                                    <label style="padding-right:135px; display:inline">Name:</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.Student_Profile.FirstName, new { @class = "form-control", @style = "width:200px; display:inline" }) 
                                                     
                                                    @Html.DisplayFor(model => model.Student_Profile.LastName, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                    <br />
                                                    <br />

                                                    <label style="padding-right:55px">Registeration No:</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.RegisterationNo, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                    <div style="color:red; display:inline">@Html.ValidationMessageFor(model => model.RegisterationNo)</div>

                                                    <br />
                                                    <br />
                                                    <label style="padding-right:145px">Degree</label>
                                                    <span class="categoryDiv">
                                                        @Html.DisplayFor(model => model.Batch.Degree_Program.Degree_ProgramName)
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:10px; display:inline">Select Degree Program</label>
                                                    <select name="degree" class="form-control" style="width:200px; display:inline"
                                                            id="degree">
                                                        <option value="Please select" selected="selected">Please select</option>
                                                        @foreach (var item in ViewBag.Degrees)
                                                        {
                                                            <option value="@item.ProgramID">@item.Degree_ProgramName</option>
                                                        }
                                                    </select>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:127px; display:inline">Batch:</label>
                                                    <span class="categoryDiv">
                                                        @Html.DisplayFor(model => model.BatchID, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:50px;">Select New Batch</label>
                                                    <select name="batch"
                                                            id="batch" class="form-control" style="width:200px; display:inline"></select>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:165px; display:inline">Part:</label>
                                                    <span class="categoryDiv">
                                                        @Html.DisplayFor(model => model.Part, new { @class = "form-control" })
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:90px; display:inline">Select Part:</label>

                                                    @Html.DropDownList("part", new List<SelectListItem>
                                                                    {
                                                                        new SelectListItem{Text="Part-1",Value="1",Selected=true},
                                                                        new SelectListItem{Text="Part-2",Value="2"},
                                                                        new SelectListItem{Text="Part-3",Value="3"},
                                                                        new SelectListItem{Text="Part-4",Value="4"},

                                                                    }, new { @id = "part", @class = "form-control", @style = "width:200px; display:inline" })
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:142px;">Section:</label>
                                                    <span class="categoryDiv">
                                                        @Html.DisplayFor(model => model.Batch.Section.SectionName, new { @class = "form-control" })
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:35px; display:inline">Select New Section:</label>
                                                    <select name="section" class="form-control" style="width:200px; display:inline" id="section">
                                                        @*<option value="Select" selected="selected">Select Section</option>*@
                                                        @*@foreach (var item in ViewBag.Sections)
                {
                    <option value="@item.SectionID">@item.SectionName</option>
                }*@
                                                    </select>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:105px;display:inline">Password:</label>
                                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    <span style="color:red; " class="categoryDiv">
                                                        @Html.ValidationMessageFor(model => model.Password)
                                                    </span>
                                                    <br />
                                                    <br />
                                                    if (TempData["S"] != "OK" && TempData["S"] != null)
                                                    {
                                                    <input type="submit" value="Update" class="btn btn-primary" style="margin-left:18%" />
                                                    <input type="hidden" value="@Html.DisplayFor(model=>model.Rollno)" name="roll" />
                                                    <input type="hidden" value="tab2" name="tab" />
                                                    @Html.ActionLink("Back", "StudentRecords", "Employees", new { @class = "btn btn-primary" })
                                                    }
                                                    }
                                                    @if (TempData["S"] == "OK")
                                                {
                                                    using (Html.BeginForm("AssignSubjectToUpdatedRegisteration", "Employees", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true)
                                                        <input type="hidden" value="@Html.DisplayFor(model=>model.Rollno)" name="roll" />
                                                        <input type="submit" value="Assign Subject" class="btn btn-primary" style="margin-left:180px"
                                                               name="assign" />
                                                        @Html.ActionLink("Back", "StudentRecords", "Employees", new { @class = "btn btn-warning" })
                                                    }
                                                }
</div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="tab2">
                                        <div class="panel panel-primary" style="padding-left:2px">
                                            
                                            <div class="panel-body">

                                                @using (Html.BeginForm("EditStudent", "Employees", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)

                                                    <label style="padding-right:130px">RollNo</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.Rollno, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                    <br />
                                                    <br />

                                                    <label style="padding-right:135px; display:inline">Name:</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.Student_Profile.FirstName, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                     
                                                    @Html.DisplayFor(model => model.Student_Profile.LastName, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                    <br />
                                                    <br />

                                                    <label style="padding-right:55px">Registeration No:</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.RegisterationNo, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                    <div style="color:red; display:inline">@Html.ValidationMessageFor(model => model.RegisterationNo)</div>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:145px">Degree</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.Batch.Degree_Program.Degree_ProgramName)
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:10px; display:inline">Select Degree Program</label>
                                                    <select name="degree" class="form-control" style="width:200px; display:inline"
                                                            id="degree">
                                                        <option value="Please select" selected="selected">Please select</option>
                                                        @foreach (var item in ViewBag.Degrees)
                                                        {
                                                            <option value="@item.ProgramID">@item.Degree_ProgramName</option>
                                                        }
                                                    </select>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:127px; display:inline">Batch:</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.BatchID, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:50px;">Select New Batch</label>
                                                    <select name="batch"
                                                            id="batch" class="form-control" style="width:200px; display:inline"></select>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:165px; display:inline">Part:</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.Part, new { @class = "form-control" })
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:90px; display:inline">Select Part:</label>

                                                    @Html.DropDownList("part", new List<SelectListItem>
                                                                    {
                                                                        new SelectListItem{Text="Part-1",Value="1",Selected=true},
                                                                        new SelectListItem{Text="Part-2",Value="2"},
                                                                        new SelectListItem{Text="Part-3",Value="3"},
                                                                        new SelectListItem{Text="Part-4",Value="4"},

                                                                    }, new { @id = "part", @class = "form-control", @style = "width:200px; display:inline" })
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:142px;">Section:</label>
                                                <span class="categoryDiv">
                                                    @Html.DisplayFor(model => model.Batch.Section.SectionName, new { @class = "form-control" })
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:35px; display:inline">Select New Section:</label>
                                                    <select name="section" class="form-control" style="width:200px; display:inline" id="section">
                                                        @*<option value="Select" selected="selected">Select Section</option>
                @foreach (var item in ViewBag.Sections)
                {
                    <option value="@item.SectionID">@item.SectionName</option>
                }*@
                                                    </select>
                                                    <br />
                                                    <br />
                                                    <label style="padding-right:105px;display:inline">Password:</label>
                                                <span class="categoryDiv">
                                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @style = "width:200px; display:inline" })
                                                    </span>
                                                        <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Password)</span>
                                                        <br />
                                                        <br />

                                                        <input type="submit" value="Update" class="btn btn-primary" style="margin-left:18%" />
                                                        <input type="hidden" value="@Html.DisplayFor(model=>model.Rollno)" name="roll" />
                                                        <input type="hidden" value="tab2" name="tab" />
                                                        @Html.ActionLink("Back", "StudentRecords", "Employees", new { @class = "btn btn-primary" })
                                                        }

</div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="tab-pane fade in active" id="tab1">
                                    <div class="panel panel-primary" style="padding-left:2px">
                                        
                                        <div class="panel-body">
                                            <h1>Please "DeActivate" @Html.DisplayFor(model => model.Student_Profile.FirstName) @Html.DisplayFor(model => model.Student_Profile.LastName)'s the Current Activated Registeration First!</h1>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div><!--/.panel-->
            </div><!--/.col-->
        </div><!-- /.row -->

    </div><!--/.main-->

    
</body>
</html>