@model FYP_6.Teacher

@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")
<html>
<body>


    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        
        <br /><br /><br /><br /><br />
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Successfully Record Added")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg>
                    @ViewBag.Message
                    <a href="#" class="pull-right">

                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            }
            else
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
        }

        
        <div class="row">
         

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary" style="padding-left:2px">
                    <div class="panel-heading" style="text-align:center">Enroll Teacher</div>
                        <div class="panel-body">
                            <div class="bootstrap-table">
                                <div class="fixed-table-header"><table></table></div><div class="fixed-table-body">

                                    @using (Html.BeginForm("EnrollTeacher", "Employees", FormMethod.Post
                                                               , new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        @*<label style="padding-right:140px">RollNo</label>
                                            @Html.DisplayFor(model => model.FirstName)
                                            <br />
                                            <br />*@
                                        <label style="padding-right:105px;padding-left:30px; display:inline">Teacher ID:</label>
                                        @Html.TextBoxFor(model => model.TeacherID, new { @class = "form-control", @style = "width:200px; display:inline;" })
                                        <span style="color:red;"class="categoryDiv">@Html.ValidationMessageFor(model => model.TeacherID)</span>
                                        @*<input type="text" readonly="readonly" value="@ViewBag.Teacher_ID" style="width:200px; display:inline;" class="form-control"
                                               name="t_id" />*@
                                        <br />
                                        <br />
                                        <label style="padding-right:105px;padding-left:30px; display:inline">Password:</label>
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Password)</span>
                                        <br />
                                        <br />


                                        <label style="padding-right:135px;padding-left:30px; display:inline">Name:</label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Name)</span>
                                        <br />
                                        <br />
                                        <label style="padding-right:105px;padding-left:30px; display:inline" for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;margin-left:20.5%; margin-bottom:2%; display:inline" />
                                        <br />
                                        <br />
                                        <label style="padding-right:90px;padding-left:30px">Date of Birth:</label>
                                        @Html.TextBoxFor(model => model.Date_of_Birth, 
                                        new { @class = "form-control datepicker", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Date_of_Birth)</span>
                                        <br />
                                        <br />
                                        <label style="padding-right:125px; display:inline;padding-left:30px">Gender:</label>
                                        @Html.TextBoxFor(model => model.Gender, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Gender)</span>
                                        <br />
                                        <br />


                                        <label style="padding-right:125px;padding-left:30px">Address</label>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Address)</span>
                                        <br />
                                        <br />

                                        <label style="padding-right:105px; display:inline;padding-left:30px">ContactNo:</label>
                                        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.ContactNo)</span>
                                        <br />
                                        <br />
                                        <label style="padding-right:80px;padding-left:30px">Martial_Status:</label>
                                        @Html.TextBoxFor(model => model.Martial_Status, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Martial_Status)</span>
                                        <br />
                                        <br />
                                        <label style="padding-right:50px;display:inline;padding-left:30px">Graduation_Details:</label>
                                        @Html.TextBoxFor(model => model.Graduation_Details, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Graduation_Details)</span>
                                        <br />
                                        <br />

                                        <label style="padding-right:70px;display:inline;padding-left:30px">Graduation Year:</label>
                                        @Html.TextBoxFor(model => model.Year_of_Graduation, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Year_of_Graduation)</span>
                                        <br />
                                        <br />
                                        <label style="padding-right:10px;padding-left:30px">Post_Graduation_Details:</label>
                                        @Html.TextBoxFor(model => model.Post_Graduation_Details, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Post_Graduation_Details)</span>
                                        <br />
                                        <br />
                                        <label style="padding-right:35px;display:inline;padding-left:30px">Post Graduation Year:</label>
                                        @Html.TextBoxFor(model => model.Year_of_Post_Graduation, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Year_of_Post_Graduation)</span>
                                        <br />
                                        <br />
                                        <label style="padding-right:80px;display:inline;padding-left:30px">Major_Subject:</label>
                                        @Html.TextBoxFor(model => model.Major_Subject, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Major_Subject)</span>
                                        <br />
                                        <br />

                                        <label style="padding-right:130px;padding-left:30px">Salary :</label>
                                        @Html.TextBoxFor(model => model.Salary, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Salary)</span>
                                        <br />
                                        <br />

                                        <input type="submit" value="Add Record"
                                                class="btn btn-primary" style="margin-left:20%;width:150px;" />
                                        @*<input type="hidden" value="@Html.DisplayFor(model=>model.RollNo)" name="roll" />
                                            <input type="hidden" value="tab1" name="tab" />*@
                                        @*@Html.ActionLink("Back", "StudentRecords", "Employees", new { @class = "btn btn-primary" })*@

                                        <br />
                                        <br />
                                    }
                                    @*@if (ViewBag.Message == "Successfully Updated Record")
                                        {
                                            <div class="alert bg-success" role="alert">
                                                <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        }*@

                                    @*else
                                        {
                                            <h2>No Records Found</h2>
                                            @Html.ActionLink("Click Here For New Enrollment", "EnrollTeacher", "Employees", new { @id = "7", @class = "btn btn-primary", @style = "margin-left:200px" })
                                        }*@
                                </div>


                            </div>
                        </div>
                    </div><!--/.panel-->
                </div><!--/.col-->
            </div>
        </div>
    </div>

    
</body>
</html>