@model FYP_6.Student_Profile


@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")
<html>
<body>

    

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <br />
        <br /><br /><br /><br />
        @if (Session["Success"] == "Successfully Record Added")
        {
        <div class="alert bg-success" role="alert">
            <svg class="glyph stroked checkmark">
                <use xlink:href="#stroked-checkmark"></use>
            </svg>
            @Session["Success"]
            <a href="#" class="pull-right">
                
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        }
        @if (ViewBag.Message != "")
        {
        <div class="alert bg-danger" role="alert">
            <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
            @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        }
        
        

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary" style="padding-left:2px">
                        <div class="panel-heading" style="text-align:center">Step 1: Student Profile</div>
                        <div class="panel-body">
                            <div class="bootstrap-table">
                                <div class="fixed-table-body">
                                    @if (Session["Success"] != "Successfully Record Added")
                                    {
                                        using (Html.BeginForm("NewAdmission", "Employees", FormMethod.Post
                                            , new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                            <br /><br />
                                            <label style="padding-right:105px;padding-left:30px; display:inline">First Name:</label>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @style = "width:200px; display:inline;" })
                                            <span style="color:red; " class="categoryDiv">
                                    @Html.ValidationMessageFor(model => model.FirstName)</span>
                                            <br />
                                            <br />
                                            <label style="padding-right:105px;padding-left:30px; display:inline" for="file">Upload Image:</label>
                                                        <input type="file" name="file" id="file" style="width: 100%;margin-left:20.5%; margin-bottom:2%; display:inline" />
                                            
                                            <label style="padding-right:105px;padding-left:30px; display:inline">Last Name:</label>
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @style = "width:200px; display:inline;" })
                                            <span style="color:red;" class="categoryDiv">
                                    @Html.ValidationMessageFor(model => model.LastName)</span>
                                            <br />
                                            <br />
                                            <label style="padding-right:90px;padding-left:30px">Date of Birth:</label>
                                            <input type="text" style = "width:200px; display:inline;"class = "form-control datepicker" name="date1"/>
                                            
                                        <br />
                                        <br />
                                            <label style="padding-right:125px; display:inline;padding-left:30px">Gender:</label>
                                            @Html.TextBoxFor(model => model.Gender, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; " class="categoryDiv">@Html.ValidationMessageFor(model => model.Gender)</span>
                                            <br />
                                            <br />
    <label style="padding-right:125px; display:inline;padding-left:30px">Religion:</label>
    @Html.TextBoxFor(model => model.Religion, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; " class="categoryDiv">@Html.ValidationMessageFor(model => model.Gender)</span>
    <br />
    <br />

                                            <label style="padding-right:145px;padding-left:30px">CNIC</label>
                                            @Html.TextBoxFor(model => model.CNIC, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; "
         class="categoryDiv">@Html.ValidationMessageFor(model => model.CNIC)</span>
                                            <br />
                                            <br />

                                            <label style="padding-right:115px; display:inline;padding-left:30px">Address:</label>
                                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; "
         class="categoryDiv">@Html.ValidationMessageFor(model => model.Address)</span>
                                            <br />
                                            <br />
                                            <label style="padding-right:112px;padding-left:30px">Domicile:</label>
                                            @Html.TextBoxFor(model => model.Domicile, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; "
         class="categoryDiv">@Html.ValidationMessageFor(model => model.Domicile)</span>
                                            <br />
                                            <br />
                                            <label style="padding-right:95px;display:inline;padding-left:30px">Nationality:</label>
                                            @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red;">@Html.ValidationMessageFor(model => model.Nationality)</span>
                                            <br />
                                            <br />
                                            <label style="padding-right:10px;padding-left:30px">Father/Guardian_Name:</label>
                                            @Html.TextBoxFor(model => model.FatherName_Guardian_Name, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; "
         class="categoryDiv">@Html.ValidationMessageFor(model => model.FatherName_Guardian_Name)</span>
                                            <br />
                                            <br />
                                            <label style="padding-right:10px;display:inline;padding-left:30px">Father/GuardianPhone:</label>
                                            @Html.TextBoxFor(model => model.Father_Guardian_Contact, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; "
         class="categoryDiv">@Html.ValidationMessageFor(model => model.Father_Guardian_Contact)</span>
                                            <br />
                                            <br />

                                            <label style="padding-right:2px;">Father/Guardian Occupation:</label>
                                            @Html.TextBoxFor(model => model.Father_Guardian_Occupation, new { @class = "form-control", @style = "width:200px; display:inline;" })
    <span style="color:red; "
         class="categoryDiv">@Html.ValidationMessageFor(model => model.Father_Guardian_Occupation)</span>
                                            <br />
                                            <br />

                                            <input type="submit" value="Next" class="btn btn-primary" style="margin-left:20%;width:150px;" />

                                            <br />
                                            <br />
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("NewAdmission", "Employees", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                        <h2>Registeration Successfull</h2>
                                    <input type="submit" value="Click here for Next Admission" 
                                           class="btn btn-primary" style="margin-left:200px;width:200px;" 
                                           name="newAdmission"/>
                                    }
                                    }
                                </div>


                            </div>
                        </div>
                    </div><!--/.panel-->
                </div><!--/.col-->
            </div>
        </div>
    </div>
    
</body>
</html>