@model FYP_6.Employee

@{
    Layout = null;
}
<!DOCTYPE html>

<html >
<head>
    <title>Welcome</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>

@Html.Partial("EmployeeView")

<body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var data = JSON.parse('@ViewBag.Data');
    </script>
    <script src="~/Scripts/EmpAdminGraph.js"></script>



    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li style="text-align:center;margin-left:35%">
                    <a>
                        <noscript>Site Requires JavaScript For Working</noscript>
                    </a>
                </li>
            </ol>
        </div><!--/.row-->
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome @Session["UserName"]</h1>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-blue panel-widget ">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil" /></svg>
                        </div>
                        @if (ViewBag.DegreePrograms != null)
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">@ViewBag.DegreePrograms</div>
                                <div class="text-muted">DegreePrograms</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">0</div>
                                <div class="text-muted">DegreePrograms</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-orange panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper" /></svg>

                        </div>
                        @if (ViewBag.Subjects != null)
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">@ViewBag.Subjects</div>
                                <div class="text-muted">Subjects</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">0</div>
                                <div class="text-muted">Subjects</div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-teal panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked male user "><use xlink:href="#stroked-male-user" /></svg>


                        </div>
                        @if (ViewBag.Students != null)
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">@ViewBag.Students</div>
                                <div class="text-muted">Students</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">0</div>
                                <div class="text-muted">Students</div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-red panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left ">

                            <svg class="glyph stroked male user "><use xlink:href="#stroked-male-user" /></svg>


                        </div>
                        @if (ViewBag.Teachers != null)
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">@ViewBag.Teachers</div>
                                <div class="text-muted">Teachers</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-8 col-lg-7 widget-right">
                                <div class="large">0</div>
                                <div class="text-muted">Teachers</div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div><!--/.row-->

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <svg class="glyph stroked line-graph">
                        <use xlink:href="#stroked-line-graph"></use>
                    </svg> Overall Statistics
                </div>
                <div class="panel-body">
                    <div id="chart_div" class=" table-responsive" style="width: 1000px; height:500px;
max-width:100%">

                    </div>
                </div>
            </div>
        </div>	<!--/.main-->


</body>

</html>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               