<html>
<head>
    <title>Batches</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>
@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")

<body>

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">



        <br />
        <br />
        <br />
        <br />
        <br />

        @if (TempData["S"] != null)
        {
            if (TempData["S"] == "0")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg>
                    @ViewBag.Message<a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            }
            else if (TempData["S"] == "1")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg>
                    @ViewBag.Message<a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            }
            else
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>

            }
        }

        else
        {
            if (ViewBag.Message != null)
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
        }
 

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">

                        <div class="panel-heading">Change Part Here</div>
                        <div class="panel-body">
                            <div class="bootstrap-table">
                                <div class="fixed-table-body">

                                    @using (Html.BeginForm("EditBatchReg", "Batches", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)

                                        <label style="padding-right:10px;padding-left:30px; display:inline">Select Degree Program</label>
                                        <select name="degree" class="form-control" style="width:200px; display:inline" id="degree">
                                            <option value="Please select" selected="selected">Please select</option>
                                            @if (ViewBag.Degrees != null)
                                            {
                                                foreach (var item in ViewBag.Degrees)
                                                {
                                                    <option value="@item.ProgramID">@item.Degree_ProgramName</option>
                                                }
                                            }

                                        </select>
                                        <br />
                                        <br />
                                        <label style="padding-right:86px;padding-left:30px;">Select Batch</label>
                                        <select name="batch" class="form-control" style="width:200px; display:inline" id="batch"></select>
                                        <br />
                                        <br />
                                        <label style="padding-right:65px;padding-left:30px; display:inline">Select Section:</label>
                                        <select name="section" class="form-control" style="width:200px; display:inline" id="section">
                                            @*@if (ViewBag.Sections != null)
                                                {
                                                    foreach (var item in ViewBag.Sections)
                                                    {
                                                        <option value="@item.SectionID">@item.SectionName</option>
                                                    }
                                                }*@
                                        </select>
                                        <br />
                                        <br />
                                        <label style="padding-right:96px;padding-left:30px;">Select Part</label>
                                        @Html.DropDownList("part", new List<SelectListItem>
                                                                {
                                                                    new SelectListItem{Text="1",Value="1",Selected=true},
                                                                    new SelectListItem{Text="2",Value="2"},
                                                                    new SelectListItem{Text="3",Value="3"},
                                                                    new SelectListItem{Text="4",Value="4"},

                                                                }, new { @id = "part", @class = "form-control", @style = "width:200px; display:inline" })


                                        <br />
                                        <br />
                                        <input type="submit" value="Update Record" class="btn btn-primary" style="margin-left:20%" />
                                        @Html.ActionLink("Back", "ViewBatches", "Batches", new { @class = "btn btn-warning", @style = "margin-left:5px" })

                                    }
                                    <br />
                                    <br />

                                </div>

                            </div>
                        </div>
                    </div><!--/.panel-->
                </div><!--/.col-->
            </div>
        </div>
     


</body>
</html>