@using PagedList;
@using PagedList.Mvc;
@model IPagedList<FYP_6.Batch>

@{
    Layout = null;
}
<html>
<head>
    <title>Batches</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>
@if (Session["AdminID"] != null)
{
    @Html.Partial("AdminView")
    @Html.Partial("JsEnableCheckerAdmin")
}
else
{
    @Html.Partial("EmployeeView")
    @Html.Partial("JsEnableChecker")
}
 <body>
    <script src="~/Scripts/OnJSDisableDeleteDisable.js"></script>
    <script src="~/Scripts/DeletionConformance.js"></script>
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <br />
        <br />
        <br />
        <br />
        <br />

        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Successfully Records Deleted!")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
            else
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
        }


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Batches</div>
                    <div class="panel-body">

                        @using (Html.BeginForm("ViewBatches", "Batches", FormMethod.Get))
                        {
                            @*@Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)*@
    <b>Batch Name:</b>
                        <span class="categoryDiv">
                            <input type="text" class="form-control" name="searchBatches" style="width:170px; display:inline" />
                            </span>
                            <b>Category:</b>
                            <span class="categoryDiv">
                                @Html.DropDownList("category", new List<SelectListItem>
                              {
                                  new SelectListItem{Text="Current Batches",Value="1",Selected=true},

                                  new SelectListItem{Text="Previous Batches",Value="0"},

                              }, new { @class = "form-control", @style = "width:170px; display:inline" })
                            </span>
                            <input type="submit" value="Search" class="btn btn-primary" name="ifButtonPressed" />
                            }
                            <br />


                            <div class="fixed-table-container table-responsive">
                                <div class="fixed-table-body">
                                    @using (Html.BeginForm("DeleteBatchesRecords", "Batches", FormMethod.Post))
                                {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                    int i = 1;
                                    <table border="1" data-toggle="table" data-url="tables/data1.json"
                                           data-show-refresh="true" data-show-toggle="true"
                                           data-show-columns="true" data-search="true"
                                           data-select-item-name="toolbar1" data-pagination="true"
                                           data-sort-name="name"
                                           data-sort-order="desc" class="table table-hover">
                                        <thead>
                                            <tr>
                                                @if (Session["AdminID"] != null)
                                                {

                                                }
                                                else
                                                {
                                                    <th style="">
                                                        <div class="th-inner sortable">Select</div>
                                                        <div class="fht-cell"><input type="checkbox" name="checkUncheckAll" id="checkUncheckAll" class="checkUncheckAll" /></div>
                                                    </th>
                                                }

                                                <th style=""><div class="th-inner sortable">BatchName</div><div class="fht-cell"></div></th>
                                                <th style="">
                                                    <div class="th-inner sortable">
                                                        Degree Program
                                                    </div><div class="fht-cell"></div>
                                                </th>
                                                <th style=""><div class="th-inner sortable">SectionName</div><div class="fht-cell"></div></th>
                                                <th style=""><div class="th-inner sortable">Part</div><div class="fht-cell"></div></th>
                                                <th style=""><div class="th-inner sortable">No Of Students</div><div class="fht-cell"></div></th>
                                                <th style=""><div class="th-inner sortable">No Of Teachers</div><div class="fht-cell"></div></th>
                                                <th style=""><div class="th-inner sortable">No Of Subjects</div><div class="fht-cell"></div></th>
                                                <th style=""><div class="th-inner sortable">Duration</div><div class="fht-cell"></div></th>
                                                <th style="">
                                                    <div class="th-inner sortable">
                                                        Action
                                                    </div><div class="fht-cell"></div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Session["AdminID"] != null)
                                            {
                                                if (Model != null)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        <tr>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BatchName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Degree_Program.Degree_ProgramName)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Section.SectionName)
                                                            </td>

                                                            @if (!(String.IsNullOrEmpty(Html.DisplayFor(modelItem => item.Registerations.Where(s => s.Status == 1).FirstOrDefault().Part).ToString())))
                                                            {
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Registerations.Where(s=>s.Status==1).FirstOrDefault().Part)
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>1</td>
                                                            }

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Registerations.Count)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Teachers_Batches.Count)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Batch_Subjects_Parts.Count)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Year.FromYear)-@Html.DisplayFor(modelItem => item.Year.ToYear)

                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("View Subjects", "DetailSubjectsInBatch", "Batches", new { @id = item.BatchName }, null)
                                                            </td>
                                                        </tr>

                                                    }


                                                }
                                            }
                                            else
                                            {
                                                if (Model != null)
                                                {
                                                    i = 1;
                                                    foreach (var item in Model)
                                                    {
                                                        <tr class="roo_@i">
                                                            <td>
                                                                <input type="checkbox" name="deletebatch" id="deletebatch" value="@Html.DisplayFor(modelItem => item.BatchID)" class="roo_@i" />
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BatchName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Degree_Program.Degree_ProgramName)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Section.SectionName)

                                                            </td>
                                                            @if (!(String.IsNullOrEmpty(Html.DisplayFor(modelItem => item.Registerations.FirstOrDefault().Part).ToString())))
                                                            {
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Registerations.FirstOrDefault().Part)
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>1</td>
                                                            }
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Registerations.Count)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Teachers_Batches.Count)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Batch_Subjects_Parts.Count)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Year.FromYear)-@Html.DisplayFor(modelItem => item.Year.ToYear)

                                                            </td>
                                                            <td>
                                                                @*@Html.ActionLink("Edit Subjects", "EditBatchSubjects", "Batches", new { @id = item.BatchName }, null)|*@
                                                                @Html.ActionLink("View Subjects", "DetailSubjectsInBatch", "Batches", new { @id = item.BatchName }, null)
                                                            </td>
                                                        </tr>
                                                            i++;
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>
                                    if (Session["AdminID"] == null)
                                    {
                                        @Html.ActionLink("Add New", "AddBatchRecords", "Batches", null, new { @type = "submit", @class = "btn btn-success", @style = " style=display:inline;width:110px" })
                                        <input type="hidden" id="hiddenInput" name="hiddenInput" />
                                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return FormSubmitted();" style="display:inline; width:125px" />
                                        @Html.ActionLink("Change Part", "EditBatchReg", "Batches", null, new { @type = "submit", @class = "btn btn-warning", @style = "margin-right:1%; margin-top:0px; style=display:inline;" })
                                        @Html.ActionLink("Refresh", "ViewBatches", "Batches", null, new { @type = "submit", @class = "btn btn-success", @style = "margin-right:1%; style=display:inline; width:130px;" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Refresh", "ViewBatches", "Batches", null, new { @type = "submit", @class = "btn btn-success", @style = "margin-right:1%; style=display:inline; width:130px;" })
                                    }

                                }
                                </div>
                            </div>
                            @if (Model != null)
                        {
                                @Html.PagedListPager(Model, page => Url.Action("ViewBatches",
                            new
                            {
                                page,
                                category = Request.QueryString["category"],
                                searchBatches = Request.QueryString["searchBatches"]

                            }), new PagedListRenderOptions()
                                     {
                                         Display = PagedListDisplayMode.IfNeeded,
                                         DisplayPageCountAndCurrentLocation = true
                                     }
                            )
                        }





                            <div class="clearfix"></div>
</div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>

