@model FYP_6.Students_Attendance
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>
@Html.Partial("TeacherView")
 
<body>
    
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        
        <br>
        <br />
        <br />
        <br />
        <br />
        @if (ViewBag.Message == "Successfully Updated Record")
        {
            <div class="alert bg-success" role="alert">
                <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
        else if (ViewBag.Message != null)
        {
            <div class="alert bg-danger" role="alert">
                <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align:center">Edit Attendance</div>
                    <div class="panel-body">
                        <div class="bootstrap-table">
                            <div class="fixed-table-body">
                             
                                @using (Html.BeginForm("EditAttendance", "Teacher", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <label style="padding-right:140px">RollNo</label>
                                    @Html.DisplayFor(model => model.Assign_Subject.Rollno)
                                    <br />
                                    <br />
    <label style="padding-right:150px">Name</label>
    @Html.DisplayFor(model => model.Assign_Subject.Registeration.Student_Profile.FirstName)     
     
    <br />
    <br />
                                    <label style="padding-right:70px">Degree Program:</label>
                                    @Html.DisplayFor(model => model.Assign_Subject.Registeration.Batch.Degree_Program.Degree_ProgramName)
                                    <br />
                                    <br />
                                    <label style="padding-right:160px">Part:</label>
                                    @Html.DisplayFor(model => model.Assign_Subject.Batch_Subjects_Parts.Part)
                                    <br />
                                    <br />
                                    <label style="padding-right:135px">Section:</label>
                                    @Html.DisplayFor(model => model.Assign_Subject.Registeration.Batch.Section.SectionName)
                                    <br />
                                    <br />
                                    <label style="padding-right:90px">Subject Name</label>
                                    @Html.DisplayFor(model => model.Assign_Subject.Batch_Subjects_Parts.Subject.SubjectName)
                                    <br />
                                    <br />
                                    <label style="padding-right:135px">Month:</label>
                                    @Html.DisplayFor(model => model.Month)
                                    <br />
                                    <br />
                                    <label style="padding-right:155px">Year:</label>
                                    @Html.DisplayFor(model => model.Year)
                                    <br />
                                    <br />


                                    @Html.LabelFor(model => model.Total_lectures, new { @style = "padding-right:80px" })
                                    @Html.TextBoxFor(model => model.Total_lectures, new { @class = "form-control", @style = "width:170px; display:inline"
                               ,
                                                                                          @id = "AttTotal",
                                                                                          @readonly = "readonly"
                               })


    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Total_lectures)</span>
                                    <br />
                                    <br />
                                    @Html.LabelFor(model => model.Attended_Lectures, new { @style = "padding-right:43px" })
                                    @Html.TextBoxFor(model => model.Attended_Lectures, new { @class = "form-control", @style = "width:170px; display:inline" 
                               ,@id="AttLec"})


    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Attended_Lectures)</span>
                                    <br />
                                    <br />
                                    @Html.LabelFor(model => model.Attendance_Percentage, new { @style = "padding-right:10px" })
                                    @Html.TextBoxFor(model => model.Attendance_Percentage, new { @class = "form-control", @style = "width:170px; display:inline",
                               @id="AttPer",@readonly="readonly"})

    <span style="color:red;" class="categoryDiv">@Html.ValidationMessageFor(model => model.Attendance_Percentage)</span>
                                    <br />
                                    <br />
                                    <input type="hidden" value="@Html.DisplayFor(model => model.Assign_Subject.Rollno)" name="rollno" />
                                    <input type="hidden" value="@Html.DisplayFor(model => model.Assign_Subject.Batch_Subjects_Parts.Subject.SubjectID)" name="SubjectID" />
                                    <input type="hidden" value="@Html.DisplayFor(model => model.Month)" name="Month" />
                                    <input type="hidden" value="@Html.DisplayFor(model => model.AttendanceID)" name="resid2" />
                                    <input type="submit" value="Save" class="btn btn-primary" style="margin-left:17%" />
                                    @Html.ActionLink("Back", "ManageAttendance", "Teacher", new { @class = "btn btn-primary" })
                                }

                            </div>
                        </div><div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>
