@model FYP_6.Assign_Subject

<html>
<head>
    <title>Students Subjects</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>

@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")
<body>

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <br />
        <br />
        <br />
        <br />
        <br />

        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Successfully Subject Assigned!")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg> @ViewBag.Message<a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            }
            else
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
        }

         
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">

                        <div class="panel-heading" style="text-align:center">Student Subjects Assignment</div>
                        <div class="panel-body">
                            <div class="bootstrap-table">
                                <div class="fixed-table-header"><table></table></div><div class="fixed-table-body">

                                    @using (Html.BeginForm("AddSubjectToParticularStudent", "Employees", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <br />
                                        <br />
                                        <label style="padding-right:120px;padding-left:30px;">RollNo</label>

                                        @Html.TextBoxFor(model => model.Rollno, new { @class = "form-control", @style = "width:200px; display:inline;", @readonly = "readonly" })
                                        <span style="color:red;" class="categoryDiv">
                                            @Html.ValidationMessageFor(model=>model.Rollno)
                                        </span>
                                        <br />
                                        <br />
    <label style="padding-right:100px;padding-left:30px; display:inline">Degree Program: </label>
    @Html.DisplayFor(model => model.Registeration.Batch.Degree_Program.Degree_ProgramName, new { @class = "form-control", @style = "width:200px; display:inline;" })
     
                                        @*<label style="padding-right:10px;padding-left:30px; display:inline">Select Degree Program</label>
                                        <select name="degree" class="form-control" style="width:190px; display:inline" id="degree">
                                            <option value="Please select" selected="selected">Please select</option>
                                            @if (ViewBag.Degrees != null)
                                            {
                                                foreach (var item in ViewBag.Degrees)
                                                {
                                                    <option value="@item.ProgramID">@item.Degree_ProgramName</option>
                                                }
                                            }

                                        </select>*@
                                        <br />
                                        <br />
                                        <label style="padding-right:150px;padding-left:30px;">Batch</label>
                                        @Html.DisplayFor(model => model.Registeration.Batch.BatchName, new { @class = "form-control", @style = "width:200px; display:inline;" })
                                        <br />
                                        <br />
                                        <label style="padding-right:195px;padding-left:30px; display:inline">Part:</label>
    @Html.DisplayFor(model => model.Registeration.Part, new { @class = "form-control", @style = "width:200px; display:inline;" })

                                        @*@Html.DropDownList("part", new List<SelectListItem>
        {
            new SelectListItem{Text="Part-1",Value="1",Selected=true},
            new SelectListItem{Text="Part-2",Value="2"},
            new SelectListItem{Text="Part-3",Value="3"},
            new SelectListItem{Text="Part-4",Value="4"},

        }, new { @id = "part", @class = "form-control", @style = "width:200px; display:inline" })*@
                                        <br />
                                        <br />

                                        <label style="padding-right:170px;padding-left:30px; display:inline">Section:</label>
    @Html.DisplayFor(model => model.Registeration.Batch.Section.SectionName, new { @class = "form-control", @style = "width:200px; display:inline;" })
                                        @*<select name="section" class="form-control" style="width:200px; display:inline" id="section">
                                            <option value="Please select" selected="selected">Please select</option>

                                        </select>*@

                                        <br />
                                        <br />
                                        <label style="padding-right:55px;padding-left:30px; display:inline">Select Subject:</label>
                                        <select name="subjectID" class="form-control" style="width:200px; display:inline" id="section">
                                            @if (ViewBag.Subjects != null)
                                            {
                                                foreach (var item in ViewBag.Subjects)
                                                {
                                                    <option value="@item.Subject.SubjectID">@item.Subject.SubjectName</option>
                                                }
                                            }
                                        </select>

                                        <br />
                                        <br />
                                        <input type="submit" value="Assign Subject"
                                               class="btn btn-primary" style="margin-left:18%" />
                                        @Html.ActionLink("Back", "EditStudent", "Employees",
                                        new { @class = "btn btn-warning", @style = "margin-left:0px", @id = Model.Rollno }, new { @class = "btn btn-warning" })
                                    }
                                    <br />
                                    <br />

                                </div>

                            </div>
                        </div>
                    </div><!--/.panel-->
                </div><!--/.col-->
            </div>
        </div>
     
</body>
</html>