@model IEnumerable<FYP_6.Batch_Subjects_Parts>
<html>
<head>
    <title>Teachers</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>
@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")
 
<body>


    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


        <br />
        <br />
        <br />
        <br /><br />
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Successfully Records Updated")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
            else
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
        }

        <div class="row">

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">

                        <div class="panel-heading" style="text-align:center">Edit Teacher Subjects</div>
                        <div class="panel-body">
                            <label style="font-size:large">Batch:</label> <b style="font-size:large;">@ViewBag.Batch.BatchName</b>
                            <label style="font-size:large;margin-left:100px">Degree Program:</label> <b style="font-size:large">@ViewBag.Batch.Degree_Program.Degree_ProgramName</b>
                            <label style="margin-left:100px;font-size:large; display:inline">Section:</label> <b style="font-size:large; display:inline">@ViewBag.Batch.Section.SectionName</b>
                            <hr />
                            <br />
                            <div class="bootstrap-table">
                                <div class="fixed-table-header"><table></table></div><div class="fixed-table-body" id="updatedPartSubjects">

                                    @using (Html.BeginForm("AddTeacherSubjects2", "Employees", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <br /><br />
                                        <table border="1" data-toggle="table" data-url="tables/data1.json"
                                               data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                                               data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                                               data-sort-order="desc" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="">
                                                        <div class="th-inner sortable">
                                                            Select
                                                        </div><div class="fht-cell"></div>
                                                    </th>
                                                    <th style="">
                                                        <div class="th-inner sortable">
                                                            No.#
                                                        </div><div class="fht-cell"></div>
                                                    </th>
                                                    <th style="">
                                                        <div class="th-inner sortable">
                                                            Subject Name
                                                        </div><div class="fht-cell"></div>
                                                    </th>
                                                    @*<th style="">
                                                            <div class="th-inner sortable">
                                                                Part
                                                            </div><div class="fht-cell"></div>
                                                        </th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                        var Arr = Model.ToList();
                                        bool checker = false;
                                        for (int i = 0, a = 1; i < Model.Count(); i++, a++)
                                        {
                                            <tr>
                                                <td>
                                                    @foreach (var item in Arr)
                                                    {

                                                        if (item.BatchName == ViewBag.Batch.BatchName)
                                                        {
                                                            <input type="checkbox" checked="checked" value="@Arr[i].SubjectID" name="subjects" id="subjects">
                                                            checker = true;
                                                            break;
                                                        }

                                                    }
                                                    @if (checker == false)
                                                    {
                                                        <input type="checkbox" value="@Arr[i].SubjectID" name="subjects" id="subjects">

                                                    }
                                                    else
                                                    {
                                                        checker = false;
                                                    }
                                                </td>
                                                <td>@a</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Arr[i].Subject.SubjectName)
                                                </td>
                                            </tr>
                                        }

                                                }
                                            </tbody>
                                        </table>
                                        <input type="hidden" value="@ViewBag.teacherID" name="t_id" />
                                        <input type="hidden" value="@ViewBag.Batch.BatchName" name="batch" />
                                        <input type="submit" value="Update Subjects" class="btn btn-primary" style="display:inline;" />
                                        @Html.ActionLink("Back", "AddTeacherSubjects", "Employees", new { @class = "btn btn-warning", @style = "margin-left:10px" })
                                    }
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div><!--/.panel-->
                </div><!--/.col-->
            </div>
        </div>
    </div>


</body>
</html>
