@using PagedList;
@using PagedList.Mvc;
@model IPagedList<FYP_6.Teachers_Batches>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Teachers</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>
@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")

 
<body>

     
    
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        
        <br /><br /><br /><br /><br />
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Successfully Records Deleted")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg> @ViewBag.Message<a href="#" class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            }
            else
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
        }
        <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Teacher Batches</div>
                                            <div class="panel-body">
                                                <span id="loaderimg" style="display: none;">
                                                    <img src="~/MyProjectImages/Loading Circle.gif" style="width:2.5%" />
                                                </span>
                                                
                                                        @using (Html.BeginForm("Teacher_Batches", "Employees", FormMethod.Get))
                                                            {
                                                                @*@Html.AntiForgeryToken()
                                                                @Html.ValidationSummary(true)*@
                                                                <b>
                                                                        Enter TeacherID:
                                                                </b>
                                                            <span class="categoryDiv">
                                                                <input type="text" name="teacherID" class="form-control" style="width:150px;margin-bottom:20px; display:inline" id="search" autocomplete="off" />
                                                            </span>
    <span class="loadingImageWhileTyping" style="display: none;">
        <img src="~/MyProjectImages/Loading Circle.gif" style="width:3.5%" />
    </span>
                                                            <span class="categoryDiv">
                                                            <input type="submit" value="Show Results" class="btn btn-warning" name="searchbutton"/>
                                                                </span>
                                                            }
                                                            <br />
                                                            @if (@*TempData["Degree"] != null && TempData["Batch"] != null && TempData["Section"] != null ||*@ TempData["TeacherID"] != null)
                                                            {
                                                                @*<h3 style="display:inline; text-align:justify;">Degree Program: </h3> <h4 style="margin-right:10px; display:inline;">@TempData["Degree"]</h4>
                                                                <h3 style="text-align:justify; display:inline; ">Batch: </h3><h4 style="margin-right:10px;display:inline;">@TempData["Batch"]</h4>
                                                                <h3 style="text-align:justify; display:inline; ">Section: </h3><h4 style="margin-right:10px;display:inline;">@TempData["Section"]</h4>*@
                                                                <h3 style="text-align:justify; display:inline; ">TeacherID: </h3><h4 style="margin-right:10px;display:inline;">@TempData["TeacherID"]</h4>
                                                                <hr />
                                                                @*<h5 style="text-align:justify; display:inline; "><text style="font-size:medium">Section:</text><text style="margin-right:10px">@Session["Section"]</text>,</h5>
                                                                    <h5 style="text-align:justify;display:inline; "><text style="font-size:medium">Month:</text><text style="margin-right:10px">@Session["Monthname"]</text>,</h5>*@
                                                            }

                                                            <br />
                                                            <br />
                                                <div class="fixed-table-container table-responsive">
                                                    <div class="fixed-table-body">
                                                        @using (Html.BeginForm("DeleteTeacherBatchesRecords", "Employees", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.ValidationSummary(true)
                                                            int i = 1;
                                                            <table border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover" id="records">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="">
                                                                            <div class="th-inner sortable">Select</div>
                                                                            <div class="fht-cell"><input type="checkbox" name="checkUncheckAll" id="checkUncheckAll" class="checkUncheckAll" /></div>
                                                                        </th>
                                                                        <th style=""><div class="th-inner sortable">TeacherID </div><div class="fht-cell"></div></th>
                                                                        <th style=""><div class="th-inner sortable">Degree Program </div><div class="fht-cell"></div></th>
                                                                        <th style=""><div class="th-inner sortable"> Section</div><div class="fht-cell"></div></th>

                                                                        <th style="">
                                                                            <div class="th-inner sortable">
                                                                                Batch

                                                                            </div><div class="fht-cell"></div>
                                                                        </th>
                                                                        <th style="">
                                                                            <div class="th-inner sortable">
                                                                                Action

                                                                            </div><div class="fht-cell"></div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model != null)
                                                                    {
                                                                        i = 1;
                                                                        foreach (var item in Model)
                                                                        {
                                                                            <tr class="roo_@i">
                                                                                <td>
                                                                                    <input type="checkbox" name="deleteTbat" id="deleteTbat" value="@Html.DisplayFor(modelItem => item.ID)" class="roo_@i" />
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.TeacherID)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.Batch.Degree_Program.Degree_ProgramName)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.Batch.Section.SectionName)
                                                                                </td>
                                                                                @*<td>
                                                                                        @Html.DisplayFor(modelItem => item.Part)

                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(modelItem => item.Month)

                                                                                    </td>*@
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.Batch.BatchName)

                                                                                </td>
                                                                                <td>
                                                                                    @Html.ActionLink("Edit Subjects", "EditBatchSubjectsTeacher", "Employees", new { @id = item.ID }, null)
                                                                                |<article style="display:inline;" id="@item.ID" data-toggle="tooltip" data-placement="top">
    @Html.ActionLink("Subjects Details", "DetailBatchSubjectsTeacher", "Employees", new { @id = item.ID },null)

</article>
                                                                            </td>
                                                                                
                                                                            </tr>
                                                                            i++;
                                                                        }
                                                                    }
                                                                </tbody>

                                                            </table>
                                                            @Html.ActionLink("Add ", "AddTeacherBatches", "Employees", null, new { @type = "submit", @class = "btn btn-success", @style = " style=display:inline;" })
    <input type="hidden" id="hiddenInput" name="hiddenInput" />
                                                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return FormSubmitted();" style="display:inline;" />
                                                            @Html.ActionLink("Refresh", "Teacher_Batches", "Employees", null, new { @type = "submit", @class = "btn btn-success", @style = " style=display:inline;" })
                                                            
                                                        }
                                                    </div>
                                                </div>

                                                        
                                                        <div style="display:inline">
                                                            @if (Model != null)
                                                            {
                                                                @Html.PagedListPager(Model, page => Url.Action("Teacher_Batches",
            new
            {
                page,
                teacherID = Request.QueryString["teacherID"],
                //search = Request.QueryString["search"],

            })
            , new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    DisplayPageCountAndCurrentLocation = true
                })

                                                            }



                                                        </div>
                                                        
                                                    <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            
                

    

        </div>
     </body>

</html>
