@model FYP_6.Models.ViewModels.ViewModel_FeeManagement

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Fees</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>
@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")

<body>

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <br>
        <br>
        <br />
        <br>
        <br>

        @if (ViewBag.Message == "Successfully Record Updated")
        {
            <br />
            <div class="alert bg-success" role="alert">
                <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
        else if (ViewBag.Message != "")
        {
            <br />
            <div class="alert bg-danger" role="alert">
                <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Edit Fee Records</div>
                    <div class="panel-body">

                        <div class="bootstrap-table">
                            <div class="fixed-table-header"><table></table></div><div class="fixed-table-body">
                                @using (Html.BeginForm("EditFee", "Fee", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true) 
                                    <div style="border:outset; ">
                                        <div class="row">
                                            <div class="col-md-2 col-xs-3">
                                                @Html.LabelFor(model => model.feeSummary.RollNo, new { @style = "" })
                                                </div>
                                            <div class="col-md-2 col-xs-3">
                                                @Html.DisplayFor(model => model.feeSummary.RollNo, new { @class = "form-control", @style = "" })
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                <label style="">Name</label>
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                @Html.DisplayFor(model => model.feeSummary.Registeration.Student_Profile.FirstName, new { @class = "form-control", @style = "width:170px; display:inline" }) @Html.DisplayFor(model => model.feeSummary.Registeration.Student_Profile.LastName, new { @class = "form-control", @style = "" })
                                            </div>

                                            <div class="col-md-2 col-xs-3">
                                                @Html.LabelFor(model => model.yearlyFee.Dated, new { @style = "" })
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                @Html.DisplayFor(model => model.yearlyFee.Dated, new { @class = "form-control", @style = "" })

                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-2 col-xs-3">
                                                    <label style="">Total Degree Fee</label>
                                                </div>
                                                <div class="col-md-2 col-xs-3">
                                                    @Html.DisplayFor(model => model.feeSummary.Total_Degree_Fee , new { @class = "form-control", @style = "" })
                                                </div>
                                                <div class="col-md-2 col-xs-3 ">
                                                    <label style="">Submitted Fee</label>
                                                </div>
                                                <div class="col-md-2 col-xs-3">
                                                    @Html.DisplayFor(model => model.feeSummary.SubmittedFee, new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-2 col-xs-4 ">
                                                    <label>Remaining Fee</label>
                                                </div>
                                                <div class="col-md-2 col-xs-3">
                                                    @Html.DisplayFor(model => model.feeSummary.RemainingFee, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        <div class="row">
                                            <div class="col-md-2 col-xs-3">
                                                <label>Total Installments</label>
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                @Html.DisplayFor(model => model.feeSummary.Total_Installments, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                <label>Paid Installments</label>
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                @Html.DisplayFor(model => model.feeSummary.Paid_Installments, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-2 col-xs-4">
                                                <label>Installment No</label>
                                            </div>
                                            <div class="col-md-2 col-xs-3 ">
                                                @Html.DisplayFor(model => model.yearlyFee.Installment, new { @class = "form-control" })
                                            </div>
                                            </div>
                                        <div class="row">
                                            <div class="col-md-2 col-xs-3">
                                                <label>Bill No</label>
                                            </div>
                                            <div class="col-md-2 col-xs-3">
                                                @Html.DisplayFor(model => model.yearlyFee.Bill_No, new { @class = "form-control" })
                                            </div>
                                        </div>
                                            </div>
                                     <br /><br />
                                    @Html.LabelFor(model => model.yearlyFee.Admission_Fee , new { @style = "padding-right:55px" })
                                     
                                     @Html.TextBoxFor(model => model.yearlyFee.Admission_Fee, new { @class = "form-control totalFeeCalClass2", @style = "width:170px; display:inline", @id = "admissionfee2" })
                                     
                                    <span style="color:red; " class="categoryDiv">@Html.ValidationMessageFor(model => model.yearlyFee.Admission_Fee)</span>
                                    <br />
                                    <br />
                                    @Html.LabelFor(model => model.yearlyFee.Registeration_Fee, new { @style = "padding-right:37px" })
                                    @Html.TextBoxFor(model => model.yearlyFee.Registeration_Fee, new { @class = "form-control totalFeeCalClass2", @style = "width:170px; display:inline", @id = "regFee2" })

                                    <span style="color:red; " class="categoryDiv">@Html.ValidationMessageFor(model => model.yearlyFee.Registeration_Fee)</span>
                                    <br />
                                    <br />

                                    @Html.LabelFor(model => model.yearlyFee.Tution_Fee, new { @style = "padding-right:85px" })
                                    @Html.TextBoxFor(model => model.yearlyFee.Tution_Fee, new { @class = "form-control totalFeeCalClass2", @style = "width:170px; display:inline", @id = "tutionfee2" })

                                    <span style="color:red; " class="categoryDiv">*@Html.ValidationMessageFor(model => model.yearlyFee.Tution_Fee)</span>
                                    <br />
                                    <br />

                                    @Html.LabelFor(model => model.yearlyFee.Exam_Fee, new { @style = "padding-right:90px" })
                                    @Html.TextBoxFor(model => model.yearlyFee.Exam_Fee, new { @class = "form-control totalFeeCalClass2", @style = "width:170px; display:inline", @id = "examfee2" })

                                    <span style="color:red; " class="categoryDiv">*@Html.ValidationMessageFor(model => model.yearlyFee.Exam_Fee)</span>
                                     
                                    <br />
                                    <br /> 
                                    @Html.LabelFor(model => model.yearlyFee.Fine, new { @style = "padding-right:130px" })
                                    @Html.TextBoxFor(model => model.yearlyFee.Fine, new { @class = "form-control totalFeeCalClass2", @style = "width:170px; display:inline", @id = "finefee2" })

                                    <span style="color:red; " class="categoryDiv">*@Html.ValidationMessageFor(model => model.yearlyFee.Fine)</span>
                                    <br />
                                    <br />

                                    @Html.LabelFor(model => model.yearlyFee.Total_Fee, new { @style = "padding-right:90px" })
                                    @Html.TextBoxFor(model => model.yearlyFee.Total_Fee, new { @class = "form-control tFEE2", @style = "width:170px; display:inline", @readonly = "readonly" })

                                    <span style="color:red; " class="categoryDiv">*@Html.ValidationMessageFor(model => model.yearlyFee.Total_Fee)</span>
                                    <br />
                                    <br /> 
                                    <input type="hidden" value="@Html.DisplayFor(model=>model.yearlyFee.Bill_No)" name="bill" />
                                    <input type="hidden" value="@Html.DisplayFor(model=>model.feeSummary.RollNo)" name="rollno" />

                                    <input type="submit" value="Update Record" class="btn btn-primary" style="margin-left:15%" />
                                    @Html.ActionLink("Back", "FeeRecords", "Fee", null, new { @class = "btn btn-primary" })

                                }

                        </div>



                    </div><div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>
</html>