@using PagedList;
@using PagedList.Mvc;
@model IPagedList<FYP_6.Year>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Degree Durations</title>
    <link rel="icon" href="~/B-School-Free-Education-HTML5-Website-Template/images/work/logo2.ico" />
</head>
@if (Session["AdminID"] != null)
{
    @Html.Partial("AdminView")
    @Html.Partial("JsEnableCheckerAdmin")
}
else
{
    @Html.Partial("EmployeeView")
    @Html.Partial("JsEnableChecker")
}
 
<body>
 
    
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        
        <br />
        <br />
        <br />
        <br />
        <br />
    @if (ViewBag.Message != null)
    {
        if (ViewBag.Message == "Successfully Records Saved!")
        {
            <div class="alert bg-success" role="alert">
                <svg class="glyph stroked checkmark">
                    <use xlink:href="#stroked-checkmark"></use>
                </svg>
                @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
        else if (ViewBag.Message == "Successfully Records Deleted!")
        {
            <div class="alert bg-success" role="alert">
                <svg class="glyph stroked checkmark">
                    <use xlink:href="#stroked-checkmark"></use>
                </svg>
                @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
        else
        {
            <div class="alert bg-danger" role="alert">
                <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        }
    }
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Degree Durations</div>
                    <div class="panel-body">

    @using (Html.BeginForm("ManageDegreeDurations", "Years", FormMethod.Get))
                            {
        @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@
    @*<b>Starting Year:</b>
    <span class="categoryDiv">
        <input type="text" class="form-control" name="searchBatches" style="width:170px; display:inline" />
    </span>*@
        <b>Category:</b>
        @Html.DropDownList("category", new List<SelectListItem>
                              {
                                  new SelectListItem{Text="Current Durations",Value="1",Selected=true},

                                  new SelectListItem{Text="Previous Durations",Value="0"},

                              }, new { @class = "form-control", @style = "width:170px; display:inline" })
        <input type="submit" value="Search" class="btn btn-primary" name="ifButtonPressed" />
                            }
    <br />

    @if (Session["AdminID"] == null)
    {
        <div class="fixed-table-container table-responsive">
            <div class="fixed-table-body">
                @using (Html.BeginForm("DeleteDurationRecords", "Years", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    int i = 1;
                    <table border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">
                        <thead>
                            <tr>
                                <th style="">
                                    <div class="th-inner sortable">Select</div>
                                    <div class="fht-cell"><input type="checkbox" name="checkUncheckAll" id="checkUncheckAll" class="checkUncheckAll" /></div>
                                </th>
                                <th style=""><div class="th-inner sortable">Starting Year</div><div class="fht-cell"></div></th>
                                <th style=""><div class="th-inner sortable">Ending Year</div><div class="fht-cell"></div></th>
                                <th style=""><div class="th-inner sortable">No of Batches</div><div class="fht-cell"></div></th>
                                <th style="">
                                    <div class="th-inner sortable">
                                        Action
                                    </div><div class="fht-cell"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                i = 1;
                                foreach (var item in Model)
                                {
                                    <tr class="roo_@i">
                                        <td>
                                            <input type="checkbox" name="deleteyear" id="deleteyear" value="@Html.DisplayFor(modelItem => item.YearID)" class="roo_@i" />
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FromYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToYear)

                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Batches.Count)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditDuration", "Years", new { @id = item.YearID }, null) |
                                            @Html.ActionLink("Details", "DetailDuration", "Years", new { @id = item.YearID }, null)
                                             
                                            @*<input type="text" value="@item.Bill_No" name="bill" style="display:none" />
                                                                                                      <input type="submit" value="Delete" onclick="return FormSubmitted();" style="background-color: transparent;

                                                border: none;
                                                color:rgb(48,173,255);
                                                cursor: pointer;"/>*@
                                            @*@Html.ActionLink("Delete", "DeleteFee", "Employees", new { @Billno = item.Bill_No }, null)*@
                                        </td>
                                    </tr>
                                    i++;

                                }
                            }

                        </tbody>
                    </table>
    <span class="delRef">
        @Html.ActionLink("Add New", "AddYearRecords", "Years", null,
                                    new
                                    {
                                        @type = "submit",
                                        @class = "btn btn-success",
                                        @style = " style=display:inline;"
                                    })
        <input type="hidden" id="hiddenInput" name="hiddenInput" />
        <input type="submit" value="Delete" class="btn btn-danger"
               onclick="return FormSubmitted();" style="display:inline;" />
    </span>
                    <input type="submit" value="Back Up" class="btn btn-warning"
                           onclick="return FormSubmitted2();"
                           style="display:inline;" name="btnBackUpYear" />

                    @Html.ActionLink("Refresh", "ManageDegreeDurations", "Years",
                                    null, new { @type = "submit", @class = "btn btn-success", @style = "margin-left:0px; margin-top:0px; style=display:inline;" })

                }
            </div>
        </div>
    }
    else
    {
        <div class="fixed-table-container table-responsive">
            <div class="fixed-table-body">
                
                    <table border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">
                        <thead>
                            <tr>

                                <th style=""><div class="th-inner sortable">Starting Year</div><div class="fht-cell"></div></th>
                                <th style=""><div class="th-inner sortable">Ending Year</div><div class="fht-cell"></div></th>
                                <th style=""><div class="th-inner sortable">No of Batches</div><div class="fht-cell"></div></th>
                                <th style="">
                                    <div class="th-inner sortable">
                                        Action
                                    </div><div class="fht-cell"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FromYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToYear)

                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Batches.Count)

                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "DetailDuration", "Years", new { @id = item.YearID }, null)
                                        </td>
                                    </tr>

                                }


                            }

                        </tbody>
                    </table>
                
                @Html.ActionLink("Refresh", "ManageDegreeDurations", "Years",
                                    null, new { @type = "submit", @class = "btn btn-success", @style = "margin-left:0px; margin-top:0px; style=display:inline;" })
            </div>
        </div>
    }

                @if (Model!=null)
                                {
                    @Html.PagedListPager(Model, page => Url.Action("ManageDegreeDurations",
                            new
                            {
                                page,
                                category = Request.QueryString["category"],
                                //search = Request.QueryString["search"]

                            }), new PagedListRenderOptions()
                                     {
                                         Display = PagedListDisplayMode.IfNeeded,
                                         DisplayPageCountAndCurrentLocation = true
                                     }
                            )
                                }




                <div class="clearfix"></div>
            </div>
        </div>
                </div>
        </div>
 
    </div>


    

 
</body>

</html>
