@model IEnumerable<FYP_6.Subject>

@Html.Partial("EmployeeView")
@Html.Partial("JsEnableChecker")
<html>
<body>
    
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        

        <br />
        <br /><br />
<br /><br />

        @if (Session["S"] != null)
        {
            <div class="alert bg-success" role="alert">
                <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> @Session["S"]<a href="#" class="pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        }
        <div class="row">
            
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">

                        <div class="panel-heading" style="text-align:center">Subject Registeration</div>
                        <div class="panel-body">
                            <div class="bootstrap-table">
                                <div class="fixed-table-body">
                                    @if (ViewBag.DegreeName != null)
                                    {
                                        if (ViewBag.Message == null)
                                        {
                                            using (Html.BeginForm("AddSubjectsForSelectedDegree", "Courses", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true)
                                        
                                                <b style="font:100">Degree Name</b>
                                                <b style="font:100">@ViewBag.DegreeSelected.Degree_ProgramName</b>
                                        <br /><br />
                                                foreach (var item in Model)
                                                {
                                                    <label>
                                                        <input type="checkbox" checked="checked" value="@item.SubjectID" name="subjects" id="subjects">
                                                        @item.SubjectName
                                                    </label>
                                                    foreach (var item2 in item.Degree_Subject)
                                                    {
                                                        if (item2.Degree_Program.ProgramID == ViewBag.DegreeSelected.ProgramID)
                                                        {
                                                            <label> @item2.Part </label>
                                                        }
                                                    }
                                                    <br />
                                                }
                                                <input type="submit" value="Assign Subjects" class="btn btn-primary" style="display:inline;" />
                                        <input type="hidden" value="@ViewBag.DegreeSelected.ProgramID" name="selectedDegID"/> 
                                                @Html.ActionLink("Back", "AddSubjectsToDegreeProgram", "Courses", new { @class = "btn btn-warning", @style = "margin-left:10px" })

                                            }

                                        }
                                        else
                                        {
                                            <div class="alert bg-danger" role="alert">
                                                <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                                                @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        @Html.ActionLink("Click Here For New Subject Assignment", "AddSubjectsToDegreeProgram", "Courses", new { @class = "btn btn-warning", @style = "margin-left:10px" })
                                        }
                                    }
                                    else
                                    {
                                        if (ViewBag.Message != null)
                                        {
                                            if (ViewBag.Message == "Succesfully Subjects Assigned")
                                            {
                                                <div class="alert bg-success" role="alert">
                                                    <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg> 
                                                    @ViewBag.Message<a href="#" class="pull-right">
                                                    <span class="glyphicon glyphicon-remove"></span></a>
                                                </div>
                                        @Html.ActionLink("Click Here For New Subject Assignment", "AddSubjectsToDegreeProgram", "Courses", new { @class = "btn btn-warning", @style = "margin-left:10px" })
                                            }
                                            else
                                            {
                                                <div class="alert bg-danger" role="alert">
                                                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                                                    @ViewBag.Message<a href="#" class="pull-right">
                                                    <span class="glyphicon glyphicon-remove"></span></a>
                                                </div>
                                        @Html.ActionLink("Click Here For New Subject Assignment", "AddSubjectsToDegreeProgram", "Courses", new { @class = "btn btn-warning", @style = "margin-left:10px" })
                                            }

                                        }
                                    }
                                        
                                </div>

                            </div>
                        </div>
                    </div><!--/.panel-->
                </div><!--/.col-->
            </div>
        </div>
    </div>


    
</body>
</html>
