@model IEnumerable<FYP_6.Degree_Subject>

@if (Session["AdminID"] != null)
{
    @Html.Partial("AdminView")
    @Html.Partial("JsEnableCheckerAdmin")
}
else
{
    @Html.Partial("EmployeeView")
    @Html.Partial("JsEnableChecker")
}
<html>
<body>
    
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <br />
        <br />
        <br />
        <br /><br />
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Successfully Records Deleted")
            {
                <div class="alert bg-success" role="alert">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"></use>
                    </svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
            else
            {
                <div class="alert bg-danger" role="alert">
                    <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                    @ViewBag.Message<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            }
        }

        <div class="row">
            
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">

                        <div class="panel-heading" style="text-align:center">Degree Details</div>
                        <div class="panel-body">
                            <label style="font-size:large">Degree Program:</label> <a style="font-size:medium;color:black">@ViewBag.Degree</a>
                            <label style="margin-left:100px;font-size:large">Degree Level:</label><a style="font-size:medium;color:black">@ViewBag.level</a>
                            <hr />
                            <div class="bootstrap-table">
                                <div class="fixed-table-header"><table></table></div><div class="fixed-table-body">

                                    
                                        <table border="0" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="">
                                                        <div class="th-inner sortable">
                                                           No.#
                                                        </div><div class="fht-cell"></div>
                                                    </th>

                                                    <th style=""><div class="th-inner sortable">SubjectName</div><div class="fht-cell"></div></th>
                                                    <th style="">
                                                        <div class="th-inner sortable">
                                                            Part
                                                        </div><div class="fht-cell"></div>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0,a=1; i < Model.Count(); i++,a++)
                                                {
                                                    <tr>
                                                        <td>@a</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.ToList()[i].Subject.SubjectName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.ToList()[i].Part)
                                                        </td>
                                                    </tr>
                                                }
                                                @*@foreach (var item in Model)
                                                {
                                                    <tr>
                                                       <td></td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                                                        </td>
                                                    </tr>
                                                }*@

                                            </tbody>
                                        </table>
                                        @Html.ActionLink("Back", "ManageCourses", "Courses", new { @class = "btn btn-warning", @style = "margin-left:10px" })
                                    
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div><!--/.panel-->
                </div><!--/.col-->
            </div>
        </div>
    </div>


</body>
</html>
